<form method="POST" action="/new">
   <h1>New Message</h1>
   <label for="msg">Message</label>
   <input type="text" name="msg">

   <label for="auth">Author</label>
   <input type="text" name="auth">

   <button type="submit">Submit</button>
</form>
